:root {
  // === fonts ===
  --font-size: 14px;

  // === colors ===
  --primary-c: #007cba;

  // === decor ===
  --box-shadow: 0 2px 2px rgba(0,0,0,.22);

  // === card set item ===
  --items: 1;
  --gap: 12px;
}

// === screen sizes ===
$small: 480px;
$medium: 768px;
$large: 1200px;

$extraSmallMax: $small - 1;
$smallMax: $medium - 1;
$mediumMax: $large - 1;
// === screen sizes ===

// === sizes ===
$padding-small: 16px;
$padding-medium: calc($padding-small * 2);
$border-radius: 4px;

 // === decor ===
$box-shadow: 0 2px 2px rgba(0,0,0,.22);